{erl_opts, [debug_info]}.
{deps, [jsx,
        wts,
        {opentelemetry, {git, "https://github.com/open-telemetry/opentelemetry-erlang", {branch, "master"}}},
        {opentelemetry_api, {git, "https://github.com/open-telemetry/opentelemetry-erlang-api", {branch, "master"}}}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]}]}]}.
